.idea/
.data/
data/
__pycache__/
logs/
trained/
downloaded_logs/
wandb/
egnn_sweep/
lightning_logs/
fractal_egnn_sweep/
FractalMessagePassing/
notebooks/mnistsuper/checkpoints/
notebooks/mnistsuper/datasets/

